XSD.xml

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
    <xs:element name = "alumno">
        <xs:complextype>
            <xs:sequence>
                <xs:element name = "nombre" type = "xs:string"/>
                <xs:element name = "id" type = "xs:string"/>
                <xs:element name = "generacion" type = "xs:int"/>
            </xs:sequence>
        </xs:complextype>
    <xs:element>
</xs:schema>